@model Account

@{
    ViewData["Title"] = "Login";
}

<h1 class="text-center md-3">تسجيل الدخول</h1>

<hr />
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <form asp-action="Login">
            <div class="form-group mb-3">
                <label asp-for="UserName" class="control-label mb-1">اسم المستخدم</label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Password" class="control-label mb-1">كلمة المرور</label>
                <input type="password" asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <input type="submit" value="تسجيل الدخول" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="col-md-4"></div>

</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
